{{!-- мы прописываем тут наш боди --}}
<h2>Вход в систему</h2>

{{!-- тут должна быть форма с кнопкой для входа пользователя --}}

<div class="content">

    {{!-- логин  --}}
    <div class="mb-3">
        <label> Эл. почта </label>
        <input type="email" placeholder="name@example.com">
    </div>

    {{!-- пароль --}}
    <div class="mb-3">
        <label> Пароль </label>
        <input type="pass" placeholder="qwerty12345">
    </div>

    {{!-- кнопка на отправление завпроса --}}
    <button type="button">Войти</button>

</div>