<h2>Регистрация</h2>



<div class="content">
    {{!-- имя --}}
    <div class="mb-3">
        <label> Имя </label>
        <input type="uaer-name" placeholder="username">
    </div>

    {{!-- логин  --}}
    <div class="mb-3">
        <label> Эл. почта </label>
        <input type="email" placeholder="name@example.com">
    </div>

    {{!-- пароль --}}
    <div class="mb-3">
        <label> Пароль </label>
        <input type="pass" placeholder="qwerty12345">
    </div>

    {{!-- подтверждение пароля --}}
    <div class="mb-3">
        <label> Подтверждение пароля </label>
        <input type="pass-repeat" placeholder="qwerty12345">
    </div>

    {{!-- кнопка на отправление завпроса --}}
    <button type="registr">Регистрация</button>

</div>